src/WarHub.Armoury.Model.BattleScribeXml/catalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.battlescribe.net/schema/catalogueSchema"
           xmlns:cs="http://www.battlescribe.net/schema/catalogueSchema">
  
  <!--schema for BattleScribe [version 2.00, (c) Jon Taylor] datafiles (catalogues and game systems)-->
  <!--schema file author: Amadeusz Sadowski-->

  <xs:simpleType name="idtype">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <!--profile types-->
  <xs:complexType name="characteristicTypetype">
    <xs:attribute name="id" type="cs:idtype" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="characteristicTypestype">
    <xs:sequence>
      <xs:element name="characteristicType" type="cs:characteristicTypetype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="profileTypetype">
    <xs:sequence>
      <xs:element name="characteristicTypes" type="cs:characteristicTypestype" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="profileTypestype">
    <xs:sequence>
      <xs:element name="profileType" type="cs:profileTypetype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--cost type-->
  <xs:complexType name="costTypetype">
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="defaultCostLimit" type="xs:decimal" use="required" fixed="0.0" />
  </xs:complexType>

  <xs:complexType name="costTypestype">
    <xs:sequence>
      <xs:element name="costType" type="cs:costTypetype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--basics-->
  <xs:attributeGroup name="BookReferenceAttGroup">
    <xs:attribute name="book" type="xs:string" use="optional" />
    <xs:attribute name="page" type="xs:string" use="optional" />
  </xs:attributeGroup>

  <xs:attributeGroup name="baseinfoattrgroup">
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="optional" />
    <xs:attributeGroup ref="cs:BookReferenceAttGroup" />
    <xs:attribute name="hidden" type="xs:boolean" use="required" />
  </xs:attributeGroup>

  <xs:group name="basicinfonodes">
    <xs:sequence>
      <xs:element name="profiles" type="cs:profilestype" />
      <xs:element name="rules" type="cs:rulestype" />
      <xs:element name="infoLinks" type="cs:infoLinkstype" />
      <xs:element name="modifiers" type="cs:modifierstype" />
    </xs:sequence>
  </xs:group>

  <xs:complexType name="baseEntrytype">
    <xs:sequence>
      <xs:group ref="cs:basicinfonodes" />
    </xs:sequence>
    <xs:attributeGroup ref="cs:baseinfoattrgroup" />
  </xs:complexType>
  
  <!--profile-->
  <xs:complexType name="characteristictype">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="characteristicTypeId" type="cs:idtype" use="required" />
    <xs:attribute name="value" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="characteristicstype">
    <xs:sequence>
      <xs:element name="characteristic" type="cs:characteristictype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="profiletype">
    <xs:complexContent>
      <xs:extension base="cs:baseEntrytype">
        <xs:sequence>
          <xs:element name="characteristics" type="cs:characteristicstype" />
        </xs:sequence>
        <xs:attribute name="profileTypeId" type="cs:idtype" use="required" />
        <xs:attribute name="profileTypeName" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="profilestype">
    <xs:sequence>
      <xs:element name="profile" type="cs:profiletype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--rule-->
  <xs:complexType name="ruletype">
    <xs:complexContent>
      <xs:extension base="cs:baseEntrytype">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rulestype">
    <xs:sequence>
      <xs:element name="rule" type="cs:ruletype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--infoLink-->
  <xs:simpleType name="infolinktypeattrtype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="profile" />
      <xs:enumeration value="rule" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="infoLinktype">
    <xs:complexContent>
      <xs:extension base="cs:baseEntrytype">
        <xs:attribute name="targetId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:infolinktypeattrtype" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="infoLinkstype">
    <xs:sequence>
      <xs:element name="infoLink" type="cs:infoLinktype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--forceEntry-->
  <xs:complexType name="categoryEntrytype">
    <xs:complexContent>
      <xs:extension base="cs:baseEntrytype">
        <xs:sequence>
          <xs:element name="constraints" type="cs:constraintstype" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="categoryEntriestype">
    <xs:sequence>
      <xs:element name="categoryEntry" type="cs:categoryEntrytype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="forceEntrytype">
    <xs:complexContent>
      <xs:extension base="cs:baseEntrytype">
        <xs:sequence>
          <xs:element name="constraints" type="cs:constraintstype" />
          <xs:element name="categoryEntries" type="cs:categoryEntriestype" />
          <xs:element name="forceEntries" type="cs:forceEntriestype" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="forceEntriestype">
    <xs:sequence>
      <xs:element name="forceEntry" type="cs:forceEntrytype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--costs-->
  <xs:complexType name="costtype">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="costTypeId" type="cs:idtype" use="required" />
    <xs:attribute name="value" type="xs:decimal" use="required" />
  </xs:complexType>

  <xs:complexType name="coststype">
    <xs:sequence>
      <xs:element name="cost" type="cs:costtype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--selectionEntry-->
  <xs:simpleType name="selectionEntryTypeattrvaluetype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="upgrade"/>
      <xs:enumeration value="model"/>
      <xs:enumeration value="unit"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="selectionEntrytype">
    <xs:complexContent>
      <xs:extension base="cs:baseEntrytype">
        <xs:sequence>
          <xs:element name="constraints" type="cs:constraintstype" />
          <xs:element name="selectionEntries" type="cs:selectionEntriestype" />
          <xs:element name="selectionEntryGroups" type="cs:selectionEntryGroupstype" />
          <xs:element name="entryLinks" type="cs:entryLinkstype" />
          <xs:element name="costs" type="cs:coststype" />
        </xs:sequence>
        <xs:attribute name="collective" type="xs:boolean" use="required" />
        <xs:attribute name="type" type="cs:selectionEntryTypeattrvaluetype" use="required" />
        <xs:attribute name="categoryEntryId" type="cs:idtype" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="selectionEntriestype">
    <xs:sequence>
      <xs:element name="selectionEntry" type="cs:selectionEntrytype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--selectionEntryGroup-->
  <xs:complexType name="selectionEntryGrouptype">
    <xs:complexContent>
      <xs:extension base="cs:baseEntrytype">
        <xs:sequence>
          <xs:element name="constraints" type="cs:constraintstype" />
          <xs:element name="selectionEntries" type="cs:selectionEntriestype" />
          <xs:element name="selectionEntryGroups" type="cs:selectionEntryGroupstype" />
          <xs:element name="entryLinks" type="cs:entryLinkstype" />
        </xs:sequence>
        <xs:attribute name="collective" type="xs:boolean" use="required" />
        <xs:attribute name="defaultSelectionEntryId" type="cs:idtype" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="selectionEntryGroupstype">
    <xs:sequence>
      <xs:element name="selectionEntryGroup" type="cs:selectionEntryGrouptype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--entryLink-->
  <xs:simpleType name="entryLinkTypeattrvaluetype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="selectionEntry"/>
      <xs:enumeration value="selectionEntryGroup"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="entryLinktype">
    <xs:complexContent>
      <xs:extension base="cs:baseEntrytype">
        <xs:sequence>
          <xs:element name="constraints" type="cs:constraintstype" />
        </xs:sequence>
        <xs:attribute name="targetId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:entryLinkTypeattrvaluetype" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="entryLinkstype">
    <xs:sequence>
      <xs:element name="entryLink" type="cs:entryLinktype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rootentryLinktype">
    <xs:complexContent>
      <xs:extension base="cs:entryLinktype">
        <xs:attribute name="categoryEntryId" type="cs:idtype" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rootentryLinkstype">
    <xs:sequence>
      <xs:element name="entryLink" type="cs:rootentryLinktype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--selector base-->
  <xs:complexType name="baseSelectortype">
    <!--TODO is this enumeration?-->
    <xs:attribute name="field" type="xs:string" />
    <xs:attribute name="scope" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:decimal" use="required" />
    <xs:attribute name="percentValue" type="xs:boolean" use="required" />
    <xs:attribute name="shared" type="xs:boolean" use="required" />
    <xs:attribute name="includeChildSelections" type="xs:boolean" use="required" />
    <xs:attribute name="includeChildForces" type="xs:boolean" use="required" />
  </xs:complexType>

  <!--constraints-->
  <xs:complexType name="constrainttype">
    <xs:complexContent>
      <xs:extension base="cs:baseSelectortype">
        <xs:attribute name="id" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:constraintTypeattrvaluetype" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="constraintstype">
    <xs:sequence>
      <xs:element name="constraint" type="cs:constrainttype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="constraintTypeattrvaluetype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="min" />
      <xs:enumeration value="max" />
    </xs:restriction>
  </xs:simpleType>

  <!--modifier-->
  <xs:complexType name="modifiertype">
    <xs:sequence>
      <xs:element name="repeats" type="cs:repeatstype" />
      <xs:element name="conditions" type="cs:conditionstype" />
      <xs:element name="conditionGroups" type="cs:conditionGroupstype" />
    </xs:sequence>
    <xs:attribute name="type" type="cs:modifierTypeattrvaluetype" use="required" />
    <xs:attribute name="field" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="modifierstype">
    <xs:sequence>
      <xs:element name="modifier" type="cs:modifiertype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="modifierTypeattrvaluetype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="set" />
      <xs:enumeration value="increment" />
      <xs:enumeration value="decrement" />
      <xs:enumeration value="append" />
    </xs:restriction>
  </xs:simpleType>

  <!--repeat-->
  <xs:complexType name="repeattype">
    <xs:complexContent>
      <xs:extension base="cs:baseSelectortype">
        <xs:attribute name="childId" type="cs:idtype" use="required" />
        <xs:attribute name="repeats" type="xs:positiveInteger" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="repeatstype">
    <xs:sequence>
      <xs:element name="repeat" type="cs:repeattype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--condition--> 
  <xs:complexType name="conditiontype">
    <xs:complexContent>
      <xs:extension base="cs:baseSelectortype">
        <xs:attribute name="childId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:conditionTypeattrvaluetype" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="conditionstype">
    <xs:sequence>
      <xs:element name="condition" type="cs:conditiontype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="conditionTypeattrvaluetype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lessThan" />
      <xs:enumeration value="greaterThan" />
      <xs:enumeration value="equalTo" />
      <xs:enumeration value="notEqualTo" />
      <xs:enumeration value="atLeast" />
      <xs:enumeration value="atMost" />
      <xs:enumeration value="instanceOf" />
      <xs:enumeration value="notInstanceOf" />
    </xs:restriction>
  </xs:simpleType>

  <!--condition group-->
  <xs:complexType name="conditionGrouptype">
    <xs:sequence>
      <xs:element name="conditions" type="cs:conditionstype" />
      <xs:element name="conditionGroups" type="cs:conditionGroupstype" />
    </xs:sequence>
    <xs:attribute name="type" type="cs:conditiongroupTypeattrvaluetype" use="required" />
  </xs:complexType>

  <xs:complexType name="conditionGroupstype">
    <xs:sequence>
      <xs:element name="conditionGroup" type="cs:conditionGrouptype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="conditiongroupTypeattrvaluetype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="and" />
      <xs:enumeration value="or" />
    </xs:restriction>
  </xs:simpleType>

  <!--datablob-->

  <xs:attributeGroup name="datablobAuthorInfoattrgroup" >
    <xs:attribute name="authorName" type="xs:string" use="optional" />
    <xs:attribute name="authorContact" type="xs:string" use="optional" />
    <xs:attribute name="authorUrl" type="xs:string" use="optional" />
  </xs:attributeGroup>
  
  <xs:complexType name="datablobType">
    <xs:sequence>
      <xs:element name="profiles" type="cs:profilestype" />
      <xs:element name="rules" type="cs:rulestype" />
      <xs:element name="infoLinks" type="cs:infoLinkstype" />
      <xs:element name="costTypes" type="cs:costTypestype" />
      <xs:element name="profileTypes" type="cs:profileTypestype" />
      <xs:element name="forceEntries" type="cs:forceEntriestype" />
      <xs:element name="selectionEntries" type="cs:selectionEntriestype" />
      <xs:element name="entryLinks" type="cs:rootentryLinkstype" />
      <xs:element name="sharedSelectionEntries" type="cs:selectionEntriestype" />
      <xs:element name="sharedSelectionEntryGroups" type="cs:selectionEntryGroupstype" />
      <xs:element name="sharedRules" type="cs:rulestype" />
      <xs:element name="sharedProfiles" type="cs:profilestype" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="revision" type="xs:nonNegativeInteger" />
    <xs:attribute name="battleScribeVersion" type="xs:string" />
    <xs:attributeGroup ref="cs:datablobAuthorInfoattrgroup" />
    <xs:attributeGroup ref="cs:BookReferenceAttGroup" />
  </xs:complexType>
  
  <xs:complexType name="cataloguetype">
    <xs:complexContent>
      <xs:extension base="cs:datablobType">
        <xs:attribute name="gameSystemId" type="cs:idtype" use="required" />
        <xs:attribute name="gameSystemRevision" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="gamesystemtype">
    <xs:complexContent>
      <xs:extension base="cs:datablobType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="catalogue" type="cs:cataloguetype" />
  <xs:element name="gameSystem" type="cs:gamesystemtype" />
</xs:schema>
