src/WarHub.Armoury.Model.BattleScribeXml/Catalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.battlescribe.net/schema/catalogueSchema"
           xmlns:cs="http://www.battlescribe.net/schema/catalogueSchema">
  
  <!--schema for BattleScribe [version 2.00, (c) Jon Taylor] datafiles (catalogues and game systems)-->
  <!--schema file author: Amadeusz Sadowski-->

  <xs:simpleType name="idtype">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <!--profile types-->
  <xs:complexType name="CharacteristicType">
    <xs:attribute name="id" type="cs:idtype" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="CharacteristicTypeList">
    <xs:sequence>
      <xs:element name="characteristicType" type="cs:CharacteristicType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProfileType">
    <xs:sequence>
      <xs:element name="characteristicTypes" type="cs:CharacteristicTypeList" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ProfileTypeList">
    <xs:sequence>
      <xs:element name="profileType" type="cs:ProfileType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--cost type-->
  <xs:complexType name="CostType">
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="defaultCostLimit" type="xs:decimal" use="required" fixed="0.0" />
  </xs:complexType>

  <xs:complexType name="CostTypeList">
    <xs:sequence>
      <xs:element name="costType" type="cs:CostType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--basics-->
  <xs:attributeGroup name="BookReferenceAttGroup">
    <xs:attribute name="book" type="xs:string" use="optional" />
    <xs:attribute name="page" type="xs:string" use="optional" />
  </xs:attributeGroup>

  <xs:group name="BasicEntryNodeGroup">
    <xs:sequence>
      <xs:element name="profiles" type="cs:ProfileList" />
      <xs:element name="rules" type="cs:RuleList" />
      <xs:element name="infoLinks" type="cs:InfoLinkList" />
      <xs:element name="modifiers" type="cs:ModifierList" />
    </xs:sequence>
  </xs:group>

  <xs:complexType name="EntryBase">
    <xs:sequence>
      <xs:group ref="cs:BasicEntryNodeGroup" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="optional" />
    <xs:attributeGroup ref="cs:BookReferenceAttGroup" />
    <xs:attribute name="hidden" type="xs:boolean" use="required" />
  </xs:complexType>
  
  <!--profile-->
  <xs:complexType name="Characteristic">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="characteristicTypeId" type="cs:idtype" use="required" />
    <xs:attribute name="value" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="CharacteristicList">
    <xs:sequence>
      <xs:element name="characteristic" type="cs:Characteristic" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Profile">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="characteristics" type="cs:CharacteristicList" />
        </xs:sequence>
        <xs:attribute name="profileTypeId" type="cs:idtype" use="required" />
        <xs:attribute name="profileTypeName" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ProfileList">
    <xs:sequence>
      <xs:element name="profile" type="cs:Profile" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--rule-->
  <xs:complexType name="Rule">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RuleList">
    <xs:sequence>
      <xs:element name="rule" type="cs:Rule" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--infoLink-->
  <xs:simpleType name="InfoLinkKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="profile" />
      <xs:enumeration value="rule" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="InfoLink">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:attribute name="targetId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:InfoLinkKind" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InfoLinkList">
    <xs:sequence>
      <xs:element name="infoLink" type="cs:InfoLink" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--forceEntry-->
  <xs:complexType name="CategoryEntry">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CategoryEntryList">
    <xs:sequence>
      <xs:element name="categoryEntry" type="cs:CategoryEntry" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ForceEntry">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" />
          <xs:element name="categoryEntries" type="cs:CategoryEntryList" />
          <xs:element name="forceEntries" type="cs:ForceEntryList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ForceEntryList">
    <xs:sequence>
      <xs:element name="forceEntry" type="cs:ForceEntry" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--costs-->
  <xs:complexType name="Cost">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="costTypeId" type="cs:idtype" use="required" />
    <xs:attribute name="value" type="xs:decimal" use="required" />
  </xs:complexType>

  <xs:complexType name="CostList">
    <xs:sequence>
      <xs:element name="cost" type="cs:Cost" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--cost limits-->
  <xs:complexType name="CostLimit">
    <xs:complexContent>
      <xs:extension base="cs:Cost" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CostLimitList">
    <xs:sequence>
      <xs:element name="costLimit" type="cs:CostLimit" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--selectionEntry-->
  <xs:simpleType name="SelectionEntryKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="upgrade"/>
      <xs:enumeration value="model"/>
      <xs:enumeration value="unit"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="SelectionEntry">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" />
          <xs:element name="selectionEntries" type="cs:SelectionEntryList" />
          <xs:element name="selectionEntryGroups" type="cs:SelectionEntryGroupList" />
          <xs:element name="entryLinks" type="cs:EntryLinkList" />
          <xs:element name="costs" type="cs:CostList" />
        </xs:sequence>
        <xs:attribute name="collective" type="xs:boolean" use="required" />
        <xs:attribute name="categoryEntryId" type="cs:idtype" use="optional" />
        <xs:attribute name="type" type="cs:SelectionEntryKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SelectionEntryList">
    <xs:sequence>
      <xs:element name="selectionEntry" type="cs:SelectionEntry" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--selectionEntryGroup-->
  <xs:complexType name="SelectionEntryGroup">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" />
          <xs:element name="selectionEntries" type="cs:SelectionEntryList" />
          <xs:element name="selectionEntryGroups" type="cs:SelectionEntryGroupList" />
          <xs:element name="entryLinks" type="cs:EntryLinkList" />
        </xs:sequence>
        <xs:attribute name="collective" type="xs:boolean" use="required" />
        <xs:attribute name="defaultSelectionEntryId" type="cs:idtype" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SelectionEntryGroupList">
    <xs:sequence>
      <xs:element name="selectionEntryGroup" type="cs:SelectionEntryGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--entryLink-->
  <xs:simpleType name="EntryLinkKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="selectionEntry"/>
      <xs:enumeration value="selectionEntryGroup"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="EntryLink">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" />
        </xs:sequence>
        <xs:attribute name="targetId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:EntryLinkKind" use="required" />
        <xs:attribute name="categoryEntryId" type="cs:idtype" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EntryLinkList">
    <xs:sequence>
      <xs:element name="entryLink" type="cs:EntryLink" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--selector base-->
  <xs:complexType name="SelectorBase">
    <!--TODO is this enumeration?-->
    <xs:attribute name="field" type="xs:string" />
    <xs:attribute name="scope" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:decimal" use="required" />
    <xs:attribute name="percentValue" type="xs:boolean" use="required" />
    <xs:attribute name="shared" type="xs:boolean" use="required" />
    <xs:attribute name="includeChildSelections" type="xs:boolean" use="required" />
    <xs:attribute name="includeChildForces" type="xs:boolean" use="required" />
  </xs:complexType>

  <!--constraints-->
  <xs:complexType name="Constraint">
    <xs:complexContent>
      <xs:extension base="cs:SelectorBase">
        <xs:attribute name="id" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:ConstraintKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConstraintList">
    <xs:sequence>
      <xs:element name="constraint" type="cs:Constraint" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConstraintKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="min" />
      <xs:enumeration value="max" />
    </xs:restriction>
  </xs:simpleType>

  <!--modifier-->
  <xs:complexType name="Modifier">
    <xs:sequence>
      <xs:element name="repeats" type="cs:RepeatList" />
      <xs:element name="conditions" type="cs:ConditionList" />
      <xs:element name="conditionGroups" type="cs:ConditionGroupList" />
    </xs:sequence>
    <xs:attribute name="type" type="cs:ModifierKind" use="required" />
    <xs:attribute name="field" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="ModifierList">
    <xs:sequence>
      <xs:element name="modifier" type="cs:Modifier" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ModifierKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="set" />
      <xs:enumeration value="increment" />
      <xs:enumeration value="decrement" />
      <xs:enumeration value="append" />
    </xs:restriction>
  </xs:simpleType>

  <!--repeat-->
  <xs:complexType name="Repeat">
    <xs:complexContent>
      <xs:extension base="cs:SelectorBase">
        <xs:attribute name="childId" type="cs:idtype" use="required" />
        <xs:attribute name="repeats" type="xs:positiveInteger" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="RepeatList">
    <xs:sequence>
      <xs:element name="repeat" type="cs:Repeat" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--condition--> 
  <xs:complexType name="Condition">
    <xs:complexContent>
      <xs:extension base="cs:SelectorBase">
        <xs:attribute name="childId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:ConditionKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConditionList">
    <xs:sequence>
      <xs:element name="condition" type="cs:Condition" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConditionKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lessThan" />
      <xs:enumeration value="greaterThan" />
      <xs:enumeration value="equalTo" />
      <xs:enumeration value="notEqualTo" />
      <xs:enumeration value="atLeast" />
      <xs:enumeration value="atMost" />
      <xs:enumeration value="instanceOf" />
      <xs:enumeration value="notInstanceOf" />
    </xs:restriction>
  </xs:simpleType>

  <!--condition group-->
  <xs:complexType name="ConditionGroup">
    <xs:sequence>
      <xs:element name="conditions" type="cs:ConditionList" />
      <xs:element name="conditionGroups" type="cs:ConditionGroupList" />
    </xs:sequence>
    <xs:attribute name="type" type="cs:ConditionGroupKind" use="required" />
  </xs:complexType>

  <xs:complexType name="ConditionGroupList">
    <xs:sequence>
      <xs:element name="conditionGroup" type="cs:ConditionGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConditionGroupKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="and" />
      <xs:enumeration value="or" />
    </xs:restriction>
  </xs:simpleType>
  
  <!--roster element base-->
  <xs:complexType name="RosterElementBase">
    <xs:sequence>
      <xs:element name="rules" type="cs:RuleList" />
      <xs:element name="profiles" type="cs:ProfileList" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="entryId" type="cs:idtype" use="required" />
  </xs:complexType>
  
  <!--force-->
  <xs:complexType name="Force">
    <xs:complexContent>
      <xs:extension base="cs:RosterElementBase">
        <xs:sequence>
          <xs:element name="categories" type="cs:CategoryList" />
          <xs:element name="forces" type="cs:ForceList" />
        </xs:sequence>
        <xs:attribute name="catalogueId" type="cs:idtype" use="required" />
        <xs:attribute name="catalogueRevision" type="xs:nonNegativeInteger" />
        <xs:attribute name="catalogueName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ForceList">
    <xs:sequence>
      <xs:element name="force" type="cs:Force" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--category-->
  <xs:complexType name="Category">
    <xs:complexContent>
      <xs:extension base="cs:RosterElementBase">
        <xs:sequence>
          <xs:element name="selections" type="cs:SelectionList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CategoryList">
    <xs:sequence>
      <xs:element name="category" type="cs:Category" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--selection-->
  <xs:complexType name="Selection">
    <xs:complexContent>
      <xs:extension base="cs:RosterElementBase">
        <xs:sequence>
          <xs:element name="selections" type="cs:SelectionList" />
          <xs:element name="costs" type="cs:CostList" />
        </xs:sequence>
        <xs:attribute name="entryGroupId" type="cs:idtype" use="required" />
        <xs:attributeGroup ref="cs:BookReferenceAttGroup" />
        <xs:attribute name="number" type="xs:nonNegativeInteger" use="required" />
        <xs:attribute name="type" type="cs:SelectionEntryKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SelectionList">
    <xs:sequence>
      <xs:element name="selection" type="cs:Selection" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--datablob-->

  <xs:attributeGroup name="AuthorInfoAttGroup" >
    <xs:attribute name="authorName" type="xs:string" use="optional" />
    <xs:attribute name="authorContact" type="xs:string" use="optional" />
    <xs:attribute name="authorUrl" type="xs:string" use="optional" />
  </xs:attributeGroup>
  
  <xs:complexType name="Datablob">
    <xs:sequence>
      <xs:element name="profiles" type="cs:ProfileList" />
      <xs:element name="rules" type="cs:RuleList" />
      <xs:element name="infoLinks" type="cs:InfoLinkList" />
      <xs:element name="costTypes" type="cs:CostTypeList" />
      <xs:element name="profileTypes" type="cs:ProfileTypeList" />
      <xs:element name="forceEntries" type="cs:ForceEntryList" />
      <xs:element name="selectionEntries" type="cs:SelectionEntryList" />
      <xs:element name="entryLinks" type="cs:EntryLinkList" />
      <xs:element name="sharedSelectionEntries" type="cs:SelectionEntryList" />
      <xs:element name="sharedSelectionEntryGroups" type="cs:SelectionEntryGroupList" />
      <xs:element name="sharedRules" type="cs:RuleList" />
      <xs:element name="sharedProfiles" type="cs:ProfileList" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attributeGroup ref="cs:BookReferenceAttGroup" />
    <xs:attribute name="revision" type="xs:nonNegativeInteger" />
    <xs:attribute name="battleScribeVersion" type="xs:string" />
    <xs:attributeGroup ref="cs:AuthorInfoAttGroup" />
  </xs:complexType>

  <xs:complexType name="Roster">
    <xs:sequence>
      <xs:element name="costs" type="cs:CostList" />
      <xs:element name="costLimits" type="cs:CostLimitList" />
      <xs:element name="forces" type="cs:ForceList" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="battleScribeVersion" type="xs:string" />
    <xs:attribute name="gameSystemId" type="cs:idtype" use="required" />
    <xs:attribute name="gameSystemName" type="xs:string" />
    <xs:attribute name="gameSystemRevision" type="xs:nonNegativeInteger" />
  </xs:complexType>

  <xs:complexType name="Catalogue">
    <xs:complexContent>
      <xs:extension base="cs:Datablob">
        <xs:attribute name="gameSystemId" type="cs:idtype" use="required" />
        <xs:attribute name="gameSystemRevision" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GameSystem">
    <xs:complexContent>
      <xs:extension base="cs:Datablob" />
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="roster" type="cs:Roster" />
  <xs:element name="catalogue" type="cs:Catalogue" />
  <xs:element name="gameSystem" type="cs:GameSystem" />
</xs:schema>
