src/WarHub.ArmouryModel.Source/Catalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.battlescribe.net/schema/catalogueSchema"
           xmlns:cs="http://www.battlescribe.net/schema/catalogueSchema">
  
  <!--schema for BattleScribe [version 2.02, (c) Jon Taylor] datafiles (catalogues and game systems)-->
  <!--schema file author: Amadeusz Sadowski-->
  <!--for game system, replace 'xmlns:cs' and targetNamespace' values with http://www.battlescribe.net/schema/gameSystemSchema -->
  <!--for roster, replace 'xmlns:cs' and 'targetNamespace' values with http://www.battlescribe.net/schema/rosterSchema -->

  <xs:simpleType name="idtype">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <!--publication-->
  <xs:complexType name="Publication">
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="PublicationList">
    <xs:sequence>
      <xs:element name="publication" type="cs:Publication" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:attributeGroup name="PublicationRefAttGroup">
    <xs:attribute name="publicationId" type="cs:idtype" />
    <xs:attribute name="page" type="xs:string" />
  </xs:attributeGroup>
  
  <!--characteristic type-->
  <xs:complexType name="CharacteristicType">
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="CharacteristicTypeList">
    <xs:sequence>
      <xs:element name="characteristicType" type="cs:CharacteristicType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--profile type-->
  <xs:complexType name="ProfileType">
    <xs:sequence>
      <xs:element name="characteristicTypes" type="cs:CharacteristicTypeList" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="ProfileTypeList">
    <xs:sequence>
      <xs:element name="profileType" type="cs:ProfileType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--cost type-->
  <xs:complexType name="CostType">
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="defaultCostLimit" type="xs:decimal" default="-1" />
  </xs:complexType>

  <xs:complexType name="CostTypeList">
    <xs:sequence>
      <xs:element name="costType" type="cs:CostType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--entry base-->
  <xs:complexType name="EntryBase">
    <xs:sequence>
      <xs:element name="modifiers" type="cs:ModifierList" minOccurs="0" />
      <xs:element name="modifierGroups" type="cs:ModifierGroupList" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attributeGroup ref="cs:PublicationRefAttGroup" />
    <xs:attribute name="hidden" type="xs:boolean" default="false" />
  </xs:complexType>

  <!--info node group-->
  <xs:group name="InfoNodeGroup">
    <xs:sequence>
      <xs:element name="profiles" type="cs:ProfileList" minOccurs="0" />
      <xs:element name="rules" type="cs:RuleList" minOccurs="0" />
      <xs:element name="infoGroups" type="cs:InfoGroupList" minOccurs="0" />
      <xs:element name="infoLinks" type="cs:InfoLinkList" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  
  <!--characteristic-->
  <xs:complexType name="Characteristic">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="typeId" type="cs:idtype" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CharacteristicList">
    <xs:sequence>
      <xs:element name="characteristic" type="cs:Characteristic" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--profile-->
  <xs:complexType name="Profile">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="characteristics" type="cs:CharacteristicList" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="typeId" type="cs:idtype" use="required" />
        <xs:attribute name="typeName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ProfileList">
    <xs:sequence>
      <xs:element name="profile" type="cs:Profile" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--rule-->
  <xs:complexType name="Rule">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RuleList">
    <xs:sequence>
      <xs:element name="rule" type="cs:Rule" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--info group-->
  <xs:complexType name="InfoGroup">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:group ref="cs:InfoNodeGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InfoGroupList">
    <xs:sequence>
      <xs:element name="infoGroup" type="cs:InfoGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--category entry-->
  <xs:complexType name="CategoryEntry">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" minOccurs="0" />
          <xs:group ref="cs:InfoNodeGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CategoryEntryList">
    <xs:sequence>
      <xs:element name="categoryEntry" type="cs:CategoryEntry" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--force entry-->
  <xs:complexType name="ForceEntry">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" minOccurs="0" />
          <xs:group ref="cs:InfoNodeGroup" />
          <xs:element name="forceEntries" type="cs:ForceEntryList" minOccurs="0" />
          <xs:element name="categoryLinks" type="cs:CategoryLinkList" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ForceEntryList">
    <xs:sequence>
      <xs:element name="forceEntry" type="cs:ForceEntry" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--costs-->
  <xs:complexType name="Cost">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="typeId" type="cs:idtype" use="required" />
    <xs:attribute name="value" type="xs:decimal" use="required" />
  </xs:complexType>

  <xs:complexType name="CostList">
    <xs:sequence>
      <xs:element name="cost" type="cs:Cost" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--cost limits-->
  <xs:complexType name="CostLimit">
    <xs:complexContent>
      <xs:extension base="cs:Cost" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CostLimitList">
    <xs:sequence>
      <xs:element name="costLimit" type="cs:CostLimit" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>


  <!--selection entry base-->
  <xs:complexType name="SelectionEntryBase">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" minOccurs="0" />
          <xs:group ref="cs:InfoNodeGroup" />
          <xs:element name="categoryLinks" type="cs:CategoryLinkList" minOccurs="0" />
          <xs:element name="selectionEntries" type="cs:SelectionEntryList" minOccurs="0" />
          <xs:element name="selectionEntryGroups" type="cs:SelectionEntryGroupList" minOccurs="0" />
          <xs:element name="entryLinks" type="cs:EntryLinkList" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="collective" type="xs:boolean" default="false" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!--selection entry-->
  <xs:complexType name="SelectionEntry">
    <xs:complexContent>
      <xs:extension base="cs:SelectionEntryBase">
        <xs:sequence>
          <xs:element name="costs" type="cs:CostList" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="type" type="cs:SelectionEntryKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SelectionEntryList">
    <xs:sequence>
      <xs:element name="selectionEntry" type="cs:SelectionEntry" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SelectionEntryKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="upgrade"/>
      <xs:enumeration value="model"/>
      <xs:enumeration value="unit"/>
    </xs:restriction>
  </xs:simpleType>

  <!--selection entry group-->
  <xs:complexType name="SelectionEntryGroup">
    <xs:complexContent>
      <xs:extension base="cs:SelectionEntryBase">
        <xs:attribute name="defaultSelectionEntryId" type="cs:idtype" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SelectionEntryGroupList">
    <xs:sequence>
      <xs:element name="selectionEntryGroup" type="cs:SelectionEntryGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--info link-->
  <xs:complexType name="InfoLink">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:attribute name="targetId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:InfoLinkKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InfoLinkList">
    <xs:sequence>
      <xs:element name="infoLink" type="cs:InfoLink" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="InfoLinkKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="infoGroup" />
      <xs:enumeration value="profile" />
      <xs:enumeration value="rule" />
    </xs:restriction>
  </xs:simpleType>

  <!--catalogue link-->
  <xs:complexType name="CatalogueLink">
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="targetId" type="cs:idtype" use="required" />
    <xs:attribute name="type" type="cs:CatalogueLinkKind" use="required" />
  </xs:complexType>

  <xs:complexType name="CatalogueLinkList">
    <xs:sequence>
      <xs:element name="catalogueLink" type="cs:CatalogueLink" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CatalogueLinkKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="catalogue" />
    </xs:restriction>
  </xs:simpleType>

  <!--category link-->
  <xs:complexType name="CategoryLink">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" minOccurs="0" />
          <xs:group ref="cs:InfoNodeGroup" />
        </xs:sequence>
        <xs:attribute name="targetId" type="cs:idtype" use="required" />
        <xs:attribute name="primary" type="xs:boolean" default="false" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CategoryLinkList">
    <xs:sequence>
      <xs:element name="categoryLink" type="cs:CategoryLink" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--entry link-->
  <xs:complexType name="EntryLink">
    <xs:complexContent>
      <xs:extension base="cs:EntryBase">
        <xs:sequence>
          <xs:element name="constraints" type="cs:ConstraintList" minOccurs="0" />
          <xs:group ref="cs:InfoNodeGroup" />
          <xs:element name="categoryLinks" type="cs:CategoryLinkList" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="collective" type="xs:boolean" default="false" />
        <xs:attribute name="targetId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:EntryLinkKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EntryLinkList">
    <xs:sequence>
      <xs:element name="entryLink" type="cs:EntryLink" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="EntryLinkKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="selectionEntry"/>
      <xs:enumeration value="selectionEntryGroup"/>
    </xs:restriction>
  </xs:simpleType>

  <!--selector base-->
  <xs:complexType name="SelectorBase">
    <xs:attribute name="field" type="xs:string" />
    <xs:attribute name="scope" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:decimal" use="required" />
    <xs:attribute name="percentValue" type="xs:boolean" default="false" />
    <xs:attribute name="shared" type="xs:boolean" default="true" />
    <xs:attribute name="includeChildSelections" type="xs:boolean" default="false" />
    <xs:attribute name="includeChildForces" type="xs:boolean" default="false" />
  </xs:complexType>

  <!--constraint-->
  <xs:complexType name="Constraint">
    <xs:complexContent>
      <xs:extension base="cs:SelectorBase">
        <xs:attribute name="id" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:ConstraintKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConstraintList">
    <xs:sequence>
      <xs:element name="constraint" type="cs:Constraint" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConstraintKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="min" />
      <xs:enumeration value="max" />
    </xs:restriction>
  </xs:simpleType>

  <!--modifier-->
  <xs:complexType name="Modifier">
    <xs:sequence>
      <xs:element name="repeats" type="cs:RepeatList" minOccurs="0" />
      <xs:element name="conditions" type="cs:ConditionList" minOccurs="0" />
      <xs:element name="conditionGroups" type="cs:ConditionGroupList" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="type" type="cs:ModifierKind" use="required" />
    <xs:attribute name="field" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="ModifierList">
    <xs:sequence>
      <xs:element name="modifier" type="cs:Modifier" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ModifierKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="set" />
      <xs:enumeration value="increment" />
      <xs:enumeration value="decrement" />
      <xs:enumeration value="append" />
    </xs:restriction>
  </xs:simpleType>
  
  <!--modifier group-->
  <xs:complexType name="ModifierGroup">
    <xs:sequence>
      <xs:element name="repeats" type="cs:RepeatList" minOccurs="0" />
      <xs:element name="conditions" type="cs:ConditionList" minOccurs="0" />
      <xs:element name="conditionGroups" type="cs:ConditionGroupList" minOccurs="0" />
      <xs:element name="modifiers" type="cs:ModifierList" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ModifierGroupList">
    <xs:sequence>
      <xs:element name="modifierGroup" type="cs:ModifierGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--repeat-->
  <xs:complexType name="Repeat">
    <xs:complexContent>
      <xs:extension base="cs:SelectorBase">
        <xs:attribute name="childId" type="cs:idtype" use="required" />
        <xs:attribute name="repeats" type="xs:positiveInteger" use="required" />
        <xs:attribute name="roundUp" type="xs:boolean" default="false" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="RepeatList">
    <xs:sequence>
      <xs:element name="repeat" type="cs:Repeat" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--condition--> 
  <xs:complexType name="Condition">
    <xs:complexContent>
      <xs:extension base="cs:SelectorBase">
        <xs:attribute name="childId" type="cs:idtype" use="required" />
        <xs:attribute name="type" type="cs:ConditionKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConditionList">
    <xs:sequence>
      <xs:element name="condition" type="cs:Condition" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConditionKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lessThan" />
      <xs:enumeration value="greaterThan" />
      <xs:enumeration value="equalTo" />
      <xs:enumeration value="notEqualTo" />
      <xs:enumeration value="atLeast" />
      <xs:enumeration value="atMost" />
      <xs:enumeration value="instanceOf" />
      <xs:enumeration value="notInstanceOf" />
    </xs:restriction>
  </xs:simpleType>

  <!--condition group-->
  <xs:complexType name="ConditionGroup">
    <xs:sequence>
      <xs:element name="conditions" type="cs:ConditionList" minOccurs="0" />
      <xs:element name="conditionGroups" type="cs:ConditionGroupList" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="type" type="cs:ConditionGroupKind" use="required" />
  </xs:complexType>

  <xs:complexType name="ConditionGroupList">
    <xs:sequence>
      <xs:element name="conditionGroup" type="cs:ConditionGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ConditionGroupKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="and" />
      <xs:enumeration value="or" />
    </xs:restriction>
  </xs:simpleType>
  
  <!--roster element base-->
  <xs:complexType name="RosterElementBase">
    <xs:sequence>
      <xs:element name="rules" type="cs:RuleList" minOccurs="0" />
      <xs:element name="profiles" type="cs:ProfileList" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="entryId" type="cs:idtype" use="required" />
  </xs:complexType>
  
  <!--force-->
  <xs:complexType name="Force">
    <xs:complexContent>
      <xs:extension base="cs:RosterElementBase">
        <xs:sequence>
          <xs:element name="selections" type="cs:SelectionList" minOccurs="0" />
          <xs:element name="publications" type="cs:PublicationList" minOccurs="0" />
          <xs:element name="categories" type="cs:CategoryList" minOccurs="0" />
          <xs:element name="forces" type="cs:ForceList" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="catalogueId" type="cs:idtype" use="required" />
        <xs:attribute name="catalogueRevision" type="xs:nonNegativeInteger" />
        <xs:attribute name="catalogueName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ForceList">
    <xs:sequence>
      <xs:element name="force" type="cs:Force" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!--category-->
  <xs:complexType name="Category">
    <xs:complexContent>
      <xs:extension base="cs:RosterElementBase">
        <xs:attribute name="primary" type="xs:boolean" default="false" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CategoryList">
    <xs:sequence>
      <xs:element name="category" type="cs:Category" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--selection-->
  <xs:complexType name="Selection">
    <xs:complexContent>
      <xs:extension base="cs:RosterElementBase">
        <xs:sequence>
          <xs:element name="selections" type="cs:SelectionList" minOccurs="0" />
          <xs:element name="costs" type="cs:CostList" minOccurs="0" />
          <xs:element name="categories" type="cs:CategoryList" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="entryGroupId" type="cs:idtype" />
        <xs:attributeGroup ref="cs:PublicationRefAttGroup" />
        <xs:attribute name="number" type="xs:nonNegativeInteger" use="required" />
        <xs:attribute name="type" type="cs:SelectionEntryKind" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SelectionList">
    <xs:sequence>
      <xs:element name="selection" type="cs:Selection" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--catalogue base-->
  <xs:complexType name="CatalogueBase">
    <xs:sequence>
      <xs:element name="publications" type="cs:PublicationList" minOccurs="0" />
      <xs:element name="profiles" type="cs:ProfileList" minOccurs="0" />
      <xs:element name="rules" type="cs:RuleList" minOccurs="0" />
      <xs:element name="costTypes" type="cs:CostTypeList" minOccurs="0" />
      <xs:element name="profileTypes" type="cs:ProfileTypeList" minOccurs="0" />
      <xs:element name="categoryEntries" type="cs:CategoryEntryList" minOccurs="0" />
      <xs:element name="forceEntries" type="cs:ForceEntryList" minOccurs="0" />
      <xs:element name="selectionEntries" type="cs:SelectionEntryList" minOccurs="0" />
      <xs:element name="entryLinks" type="cs:EntryLinkList" minOccurs="0" />
      <xs:element name="infoLinks" type="cs:InfoLinkList" minOccurs="0" />
      <xs:element name="sharedSelectionEntries" type="cs:SelectionEntryList" minOccurs="0" />
      <xs:element name="sharedSelectionEntryGroups" type="cs:SelectionEntryGroupList" minOccurs="0" />
      <xs:element name="sharedRules" type="cs:RuleList" minOccurs="0" />
      <xs:element name="sharedProfiles" type="cs:ProfileList" minOccurs="0" />
      <xs:element name="sharedInfoGroups" type="cs:InfoGroupList" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="revision" type="xs:nonNegativeInteger" />
    <xs:attribute name="battleScribeVersion" type="xs:string" />
    <xs:attribute name="authorName" type="xs:string" />
    <xs:attribute name="authorContact" type="xs:string" />
    <xs:attribute name="authorUrl" type="xs:string" />
  </xs:complexType>

  <!--roster-->
  <xs:complexType name="Roster">
    <xs:sequence>
      <xs:element name="costs" type="cs:CostList" minOccurs="0" />
      <xs:element name="costLimits" type="cs:CostLimitList" minOccurs="0" />
      <xs:element name="forces" type="cs:ForceList" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="cs:idtype" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="battleScribeVersion" type="xs:string" />
    <xs:attribute name="gameSystemId" type="cs:idtype" use="required" />
    <xs:attribute name="gameSystemName" type="xs:string" />
    <xs:attribute name="gameSystemRevision" type="xs:nonNegativeInteger" />
  </xs:complexType>

  <!--catalogue-->
  <xs:complexType name="Catalogue">
    <xs:complexContent>
      <xs:extension base="cs:CatalogueBase">
        <xs:sequence>
          <xs:element name="catalogueLinks" type="cs:CatalogueLinkList" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="library" type="xs:boolean" default="false" />
        <xs:attribute name="gameSystemId" type="cs:idtype" use="required" />
        <xs:attribute name="gameSystemRevision" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!--gamesystem-->
  <xs:complexType name="GameSystem">
    <xs:complexContent>
      <xs:extension base="cs:CatalogueBase" />
    </xs:complexContent>
  </xs:complexType>

  <!--root elements-->
  <xs:element name="roster" type="cs:Roster" />
  <xs:element name="catalogue" type="cs:Catalogue" />
  <xs:element name="gameSystem" type="cs:GameSystem" />
</xs:schema>
